<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo.jpg">
    <title>login page</title>
       <!-- Custom fonts for this template -->
       <link
       href="/css/bootstrap.min.css"
       rel="stylesheet"
       type="text/css"
     />
     <link href="/css/main-style.css" rel="stylesheet" type="text/css" />
    
 
     <!-- Custom styles for this template -->
     <link href="/css/sb-admin-2.css" rel="stylesheet" />
     <link rel="stylesheet" href="/css/animate.css">
 
     <!-- Custom styles for this page -->
     <link
       href="/vendor/datatables/dataTables.bootstrap4.min.css"
       rel="stylesheet"
     />
     <link rel="stylesheet" href="/css/all.min.css" />
     <link rel="stylesheet" href="/css/spinner.css">

</head>
<body >
  

    <div class="card text-white w-25 mx-auto" style="margin-top:80px">
      <div class="card-body bg-purple rounded-start">
        <form class="wow tada" method="POST" action="">
        <div class="card-body ">
          <center>
                   <h3>Reset Password</h3>
                   <p>fill the following to change your password</p>
                   <div class="mx-auto">
                            <div class=" wow flash">
                              <div class="mb-2">
                                <label for="form-label ">Create password</label> <br>
                                 <input type="passord"
                                   class="form-control" name="" id="" aria-describedby="helpId" placeholder="create passord">
                               </div>
                            </div>
                            <div class=" wow shake">
                            </div>
                            <br>
                          <div class="mb-3">
                            <label for="" class="form-label">Confirm passsword</label>
                            <input type="password"
                              class="form-control" name="" id="" aria-describedby="helpId" placeholder="confirm Password">
                          </div>
                            <br>
                            <div class="">
                              <a class='btn btn-secondary border-end w-100 wow slideInLeft data-wow-duration="2s" data-wow-delay="1s"' href="">Back To Login</a>
                            </div>

                          </div>
                        </center>
                        </div>
                        </form>
        
        

            
        </div>
        
      </div>
    </div>
    
    </footer>
  </body>
  <script src="/js/all.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/jquery.min.js"></script>
    <script>
      new WOW().init();
    </script>
<%- include("../patials/footer.ejs") %>
    
 


                     